<?xml version="1.0" encoding="utf-8"?>
<settings>
    <MachineName>mr roboto</MachineName>
    <OpenglMajor>4</OpenglMajor>
    <OpenglMiner>4</OpenglMiner>
    <Performance>2</Performance>
    <Windows>
    <window>
      <framerate>30</framerate>
      <location>middle</location>
      <json>json4.json</json>
      <json>json.json</json>
      <x>800</x>
      <y>10</y>
      <ScreenWidth>800</ScreenWidth>
      <ScreenHeight>800</ScreenHeight>
    </window>
    </Windows>
    <Kinect>1</Kinect>
</settings>

